<nav>
    <div class="nav-wrapper indigo darken-1">
      <a href="#" class="hide-on-med-and-down right"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon> Hello {{emailusers}} ! <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">exit_to_app</mat-icon> Logout</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Active my wallet</a></li>
        
      </ul>
    </div>
  </nav>
<div class='container account-container'>
        <div class='row'>
            <div class='col-md-12 account-form-1'>
                <h3>Save your Tezos alphanet account</h3>
                Visit <a href="https://faucet.tzalpha.net/" target="_blank">Alphanet Faucet </a> to get a test account on the Tezos Alphanet.
                <br> Then copy the contents of the JSON file download and paste into the textarea.
                <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
                    <div class='form-group'>
                        <input type="hidden" id="emailusers" formControlName="emailusers" class="form-control" 
                            [(ngModel)]="emailusers" />
                    </div>
                    <div class='form-group'>
                        <textarea rows="10" cols="30" placeholder='All Content JSON Data of file download*' 
                        class='form-control' formControlName="alphfaucetaccount"  [(ngModel)]="alphfaucetaccount" ></textarea>
                    </div>
                    
                    <div class='form-group text-center'>
                        <input type='submit' class='btnSubmit'  value='SAVE' />
                    </div>
                    <div class="form-group">
                            {{message}}
                    </div>
                </form>
                <p></p>
                <p></p>
                <h3>Generate My Public and Secret Key</h3>
                <button (click)="getPublicPrivateKey()" type="button">Generate My Public and Secret Key</button>
                <div *ngIf="messagekey"> 
                <p>  Public Key: {{messagekey.publicKey}}</p>
                 <p>  Secret Key: {{messagekey.privateKey}}</p>
                </div>
                <h3>Initialize the account</h3>
                <p></p>
                <p></p>
                <button (click)="activeAccount()" type="button">Initialize the account</button>
            </div>
        </div>
    </div>
    