
<nav>
    <div class="nav-wrapper indigo darken-1">
      <a href="#" class="hide-on-med-and-down right"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon> Hello {{emailusers}} !<mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">exit_to_app</mat-icon> Logout</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Dashboard  in implementation</a></li>
        
      </ul>
    </div>
  </nav>
<img src="https://10000codeurs-lab.xyz/dashbord2.png"  style="width:100%;height:600px;">
<img src="https://10000codeurs-lab.xyz/dashbord.png"  style="width:100%;height:600px;">
<h2>In construction Source alphanet.tzscan.io </h2>
